circle {
  stroke: yellow; 
  stroke-width: 5px;
  stroke-opacity: 1;
}

.pulse {
  fill: rgba(0,0,255,1);
  fill-opacity: 0;
  animation-duration: 10s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  to {
    stroke-width: 1;
    stroke-opacity: 1;
  }
}
